<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/03e63e3d58.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login/stylesLogin.css">
    <title>Login</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="">
            <label for="" class="addName">
                <input type="text" name="user" id="" placeholder="Ingrese usuario">
            </label>
            <label for="" class="addPass">
                <input type="password" name="pass" placeholder="Ingrese contraseña">
            </label>
            <label for="" class="labSubmit">
                <button type="submit"> <a href="/.">Enviar</a></button>
            </label>
        </form>
    </main>
    
    <footer>

    </footer>
</body>
</html>