*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 12px;
}

body{
    width: 100vw;
    height: 100vh;
}

@media (min-width: 361px){
    article{
        width: 40%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .cangreburguer {
        display: none;
    }
    .links{
        display: block;
    }
    .desc{
        visibility: visible;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row ;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        display: none;
    }
    .blockMob{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .blockMob img{
        width: 30%;
    }
    .blockMob h2{
        width: 30%;
    }
    .buscadorMob {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buscadorMob input{
        text-align: center;
        width: 70%;
        height: 3rem;
        border: 0cap;
        border-radius: 3px 0 0 3px;
    }
    .buscadorMob button{
        height: 3rem;
        border: 0cap;
        background-color: white;
        border-radius: 0 3px 3px 0;
        padding-right: 1rem;
    }
    .blockMob i {
        margin-left: 0px;
    }
    .compraCuotas{
        display: none;
    }
    .links{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        column-gap: 2rem;
        padding-right: 1rem;
    }
    .login{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        column-gap: 1rem;
        padding-left: 1rem;
        padding-right: 2rem;
    }
    .personalapart{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        column-gap: 1rem;
    }
    .footerIcons {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
    .divdivdiv{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        text-align: justify;
    }
    .divdivdiv h2{
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 769px){
    article{
        width: 20%;
    }
}