main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0;
}
form{
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 10px;
    row-gap: 1rem;
    border: 2px solid black;
    padding-bottom: 2rem;
}
label{
    width: 100%;
    display: flex;
    justify-content: center;
}
.escribir input{
    margin-top: 1rem;
    width: 60%;
    height: 2rem;
    border: 0cap;
    border-radius: 5px;
    text-align: center;
}


.divPerfil{
    width: 50%;
    display: flex;
    flex-direction: row;
    color: gray;
    justify-content: center;
}
.divPerfil input{
    margin-right: 1rem;
    margin-left: 0.3rem;
}
.divInteres {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.divInteres h2{
    margin-bottom: 1rem;
}
.date{
    width: 60%;
    height: 2rem;
    border: 0cap;
    border-radius: 5px;
    text-align: center;
    color: gray;
}
.checkbox{
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.checkbox input{
    margin-right: 1rem;
}

.picUser {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.picUser input{
    margin-left: 1rem;
}
.passwo input{
    width: 60%;
    height: 2rem;
    border: 0cap;
    border-radius: 5px;
    text-align: center;
}
.confirmPass input {
    width: 60%;
    height: 2rem;
    border: 0cap;
    border-radius: 5px;
    text-align: center;
}

.butSend button {
    background-color: white;
    width: 20%;
    height: 2rem;
    border: 0cap;
    border-radius: 5px;
    text-align: center;
}

.butRes button{
    background-color: white;
    width: 20%;
    height: 2rem;
    border: 0cap;
    border-radius: 5px;
    text-align: center;
}

.butSend button:hover{
    background-color: #1259c3;
    color: white;
    transition: 500ms;
}

.butSend button:hover a{
    text-decoration: none;
    color: white;
    transition: 500ms;
}

.butRes button:hover{
    background-color: #1259c3;
    color: white;
    transition: 500ms;
}