footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #EAC926;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;;
}

footer i:hover{
    color: aliceblue;
    transition: 500ms;
}
.divdivdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}